@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap'); 
}

:root {
    --container: 960px;
    --color-primary: #C4C4C4;
    --color-secundary: #9B9B9B;
    --color-terceary: #434343;
    --color-darker: #252525;
    --color-lighter: #fff;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: var(--container);
    margin: 0 auto;
}

.header, .main, .footer {
    width: 100%;
}

.header {
    background: var(--color-primary);
}

.nav__wrapper {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
    position: absolute;
    width: 100%;
}

.header__nav {
    align-items: center;  
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px;
}

.header__nav .logo {
    margin-right: 20px;
    width: 200px;
}

.header__nav .buttons__wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: 50px;
    justify-content: flex-end;
}

.header__nav .buttons {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid var(--color-primary);
    color: var(--color-lighter);
    cursor: pointer;
    padding: 10px 20px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.header__nav .buttons:hover {
    background-color: var(--color-darker);
    transform: scale(1.1); 
    border: none;
}

.hero {
    /* background: var(--color-secundary); */
    background:center / cover url('https://source.unsplash.com/1600x900/?landscape');
    height: 400px;
    width: 100%;
}

.main {
    padding: 15px 20px;
}

.sub-title {
    margin: 20px 0 15px 0;
}

.cards__wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
    /* background: var(--color-secundary); */
    border-radius: 5px;
    height: 400px;
    width: 100%;
}

.--1 { background:center / cover url('https://source.unsplash.com/1600x900/?beach'); }
.--2 { background:center / cover url('https://source.unsplash.com/1600x900/?city'); }
.--3 { background:center / cover url('https://source.unsplash.com/1600x900/?nature'); }

.video {
    /* background: var(--color-secundary); */
    background:center / cover url('https://source.unsplash.com/1600x900/?student');
    border-radius: 5px;
    display: grid;
    place-items: center;
    height: 400px;
    width: 100%;
}

svg {
    filter:opacity(0.8);
    max-width: 100px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

svg:hover {
    cursor: pointer;
    transform: scale(1.1);    
}

.footer {
    background: var(--color-secundary);
    padding: 15px 20px;
    margin-top: 30px;
    width: 100%;
}

.brand__wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.brand {
    background: var(--color-terceary);
    border-radius: 50%;
    height: 80px;  
    text-align: center;
    width: 80px;
}

.brand__label {
    text-align: center;
    margin-top: 10px;
}

.linkedin {
    background: center / 110% url('https://cdn.freebiesupply.com/logos/large/2x/linkedin-icon-logo-png-transparent.png') #fff no-repeat;
}

.github {
    background: center / 110% url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-download.com%2Fwp-content%2Fuploads%2F2016%2F09%2FGitHub_logo.png&f=1&nofb=1') #fff no-repeat;
}





